@import '../components/colors.css';

.movieDetails {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
}

.movieTitle {
  color: var(--title-color);
}

.movieDescription {
  margin: 1rem 0;
}

.movieImg {
    width: 100%;
}

@media (min-width: 650px) {
    .movieDetails {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 3rem 20%;
    }
}